html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background:url('./img/background.jpg'); 
}

h1{
	color: rgb(128, 25, 25);
	text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
text-align: center;
}

.game-field{
	background-color: rgb(20 16 16);
	min-width: 420px;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.card{
	width: 80px;
	height: 80px;
	background-color:red;
	/*background:url('./img/background-image.jpg'); */
	margin: 6px;
}

.row{

	display: flex;
	
	
}

main{
	display: flex;
	justify-content: center;
}

.action{
	/*background-color: brown;*/
	font-size: 1.2em;
    padding: 12px 24px;
}