html,
body {
	background-color: #030303;
	text-align: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.fontPreload {
	position: absolute;
}

canvas {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
