@keyframes cheese-1 {
	0% {
		left: 110%;
	}

	100% {
		left: -20%;
	}
}

@keyframes cheese-2 {
	0% {
		left: 170%;
	}

	100% {
		left: -20%;
	}
}

@keyframes eagle-1-fly {
	0% {
		left: -50%;
	}

	100% {
		left: 120%;
	}
}

@keyframes run {
	0% {
		background-position-x: 0px;
	}

	100% {
		background-position-x: -2560px;
	}
}

@keyframes cactus-up {
	0% {
		left: 150%;
	}

	100% {
		left: -400px;
	}
}

@keyframes cactus {
	0% {
		left: 110%;
	}

	100% {
		left: -400px;
	}
}

@keyframes jump {
	0% {
		top: 0;
	}

	50% {
		top: -320px;
	}

	100% {
		top: 0;
	}
}

@keyframes pain {
	0% {
		opacity: 0;
	}

	25% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	75% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes skate-up {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(-4deg);
	}

	100% {
		transform: rotate(0);
	}
}

@keyframes skate-down {
	0% {
		transform: rotate(0);
	}

	50% {
		transform: rotate(4deg);
	}

	100% {
		transform: rotate(0);
	}
}

@keyframes heart-beat {
	0% {
		transform: scale(1) rotate(5deg);
	}
	40% {
		transform: scale(1.1) rotate(0deg);
	}
	60% {
		transform: scale(1) rotate(5deg);
	}
	90% {
		transform: scale(1.1) rotate(0deg);
	}
	100% {
		transform: scale(1) rotate(5deg);
	}
}

html,
body {
	width: 100%;
	min-width: 1280px;
	height: 100%;
	min-height: 720px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.page {
	width: 100%;
	height: 100%;
	display: flex;
	background: black;
}

.game {
	position: relative;
	width: 1280px;
	height: 720px;
	margin: auto;
	background: url('./img/mouse-run.png');
	background-size: auto;
	overflow: hidden;
}

.game.active {
	animation: run 8s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#mouse-on-skate {
	position: absolute;
	top: 400px;
	transition: .4s;
}

#mouse-on-skate.down {
	top: 400px;
	z-index: 6;
	/* animation: skate-down .4s; */

	animation-name: skate-down;
	animation-duration: .4s;
}

#mouse-on-skate.up {
	top: 363px;
	z-index: 4;
	animation: skate-up .4s;
}

#mouse {
	width: 140px;
	height: 140px;
	background-image: url('./img/mouse-small.png');
	box-sizing: border-box;
	background-size: contain;
	background-repeat: repeat;
	position: relative;
	z-index: 10;
	animation-timing-function: ease-in-out;
	background-repeat: no-repeat;
}

#skate {
	width: 150px;
	height: 50px;
	background-image: url('./img/skate.png');
	box-sizing: border-box;
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
	margin-top: -9px;
	z-index: 1;
}

.jump {
	animation: jump 1s;
}

.pain {
	animation: pain .2s;
	animation-iteration-count: 5;
	animation-timing-function: linear;
}

.cheese {
	width: 140px;
	height: 140px;
	background-image: url('./img/cheese.png');
	box-sizing: border-box;
	background-size: contain;
	position: absolute;
}

#cheese-1 {
	top: 250px;
	left: 110%;
}

#cheese-2 {
	top: 150px;
	left: 170%;
}

#cheese-1.active {
	animation: cheese-1 3s infinite linear;
}

#cheese-2.active {
	animation: cheese-2 4s infinite linear;
}

#eagle-1 {
	width: 60px;
	height: 82px;
	background-image: url('./img/eagle-1.png');
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 40px;
	left: -50%;
}

#eagle-1.active {
	animation: eagle-1-fly 18s infinite linear;
}

.cactus {
	width: 140px;
	height: 140px;
	background-image: url('./img/cactus.png');
	box-sizing: border-box;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	top: 450px;
	left: 110%;
	z-index: 20;
}

#cactus-up {
	top: 400px;
	left: 130%;
	z-index: 5;
}

#cactus-up.active {
	animation: cactus-up 7s infinite linear;
}

#cactus.active {
	animation: cactus 5.5s infinite linear;
}

.launch {
	text-align: center;
	padding: 10px;
	border-radius: 35px;
	color: yellow;
	background: rgb(36 35 35);
	position: absolute;
	top: 45%;
	left: 42%;
	font-size: 120px;
	cursor: pointer;
	user-select: none;
}

.loss {
	/*width: 560px;
	height: 200px;
	text-align: center;
	border: 3px solid rgb(43, 42, 42);*/
	border-radius: 35px;
	color: yellow;
	background: rgb(36 35 35);
	position: absolute;
	font-size: 145px;
    cursor: pointer;
		top: 40%;
    left: 22%;

}

.hidden {
	display: none;
}

h2 {
	text-align: center;
	margin-top: 66px;
	font-size: 44px;
}

.points {
	text-align: center;
	position: absolute;
	top: 40px;
}

.chees {
	background:url('./img/chees.png');
	width: 50px;
	height: 40px;
}

.life {
	position: absolute;
	top: 40px;
	right: 0;
	text-align: center;
}

.heart {
	background:url('./img/life.png');
	background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height: 40px;
}

.heart.active{
	animation: heart-beat 1s infinite linear;
}
