html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: black;
}

.page {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: monospace;
	user-select: none;
}

header {
	/* margin: auto;
	color: aliceblue;
	box-sizing: border-box;
	display: flex;
	justify-content: center; */
	font-size: 40px;
	color: aliceblue;
	text-align: center;
	margin: auto;
}

.desk {
	position: relative;
	margin: auto;
	background: black;
	box-sizing: border-box;
}

.row {
	display: flex;
	justify-content: center;
}

.cell {
	width: 90px;
	height: 90px;
	color: white;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	box-sizing: border-box;
	border: 5px solid yellow;
	border-radius: 15px;
	position: relative;
}

.cell:hover {
	border: 3px solid white;
}

.cell.letter {
	color: black;
	background: white;
}

.cell.place {
	color: black;
	background: yellow;
}

.cell.wrong {
	color: white;
	background: grey;
}

.alphabet {
	box-sizing: border-box;
	margin: auto;
}

.cage {
	width: 70px;
	height: 90px;
	color: azure;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	box-sizing: border-box;
	border: 1px solid grey;
	border-radius: 5px;
}

.cage:hover {
	border: 1px solid white;
}

.cage:active {
	background: white;
}

.submit {
	color: #555;
	background: lightgreen;
}

.cage1 {
	transform: scaleX(-1);
	/* Отражение картинки по горизонтали */
	width: 90px;
	height: 90px;
	color: azure;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 24px;
	box-sizing: border-box;
	border: 1px solid gray;
	border-radius: 5px;
}

.cage1.backspace {
	color: #555;
	background: white;
}

.cage1.backspace:active {
	border: 1px solid white;
	color: white;
}


.leters {
	background: black;
	display: flex;
	justify-content: center;
}

.circle {
	color: black;
	box-sizing: border-box;
	border-radius: 50%;
	background-color: yellow;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.line {
	background: yellow;
	width: 23px;
	height: 3px;
	align-self: center;
	position: relative;
	top: -15px;
}

.line-empty {
	background: grey;
}

.results h2 {
	color: yellow;
	text-align: center;
	font-size: 2rem;
	font-weight: 100;
}

p {
	color: white;
	font-size: 19px;
}

.results {
	display: flex;
	flex-direction: column;
	justify-content: center;
	display: none;
}

.results .table {
	display: flex;
	justify-content: center;
}

.reply {
	color: yellow;
	text-align: center;
	margin-top: 10px;
	font-size: 1.3rem;
}

.reply-empty {
	color: gray;
}

.circle1 {
	box-sizing: border-box;
	border-radius: 50%;
	background-color: gray;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tooltip {
	text-align: center;
	padding: 15px;
	border: 3px solid white;
	border-radius: 10px;
	color: black;
	background: white;
	position: absolute;
	top: 76px;
	font-size: .9rem;
	width: auto;
	min-width: 150px;
	left: -100%;
	z-index: 1000;
}

.tooltip::before {
	content: '';
	width: 26px;
	height: 26px;
	position: absolute;
	transform: rotate(45deg);
	top: -15px;
	background: white;
	left: 100px;
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .7);
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.modal {
	width: 372px;
	height: 400px;
	text-align: center;
	padding: 10px;
	border: 3px solid rgb(43, 42, 42);
	border-radius: 35px;
	color: yellow;
	background: rgb(36 35 35);
}

h4 {
	font-size: 20px;

}

.close {
	display: flex;
	justify-content: right;
	color: #f1f1f5;
	text-decoration: none;
	font-size: 20px;
	cursor: pointer;
}

.window3 {
	width: 336px;
	height: 119px;
	display: inline-block;
	font-size: 16px;
	border: 3px solid rgb(43, 42, 42);
	border-radius: 25px;
	color: rgb(247, 247, 246);
	background: rgb(64, 63, 63);
}

strong {
	font-size: 30px;
}

.window4 {
	width: 228px;
	height: 18px;
	font-size: 19px;
	display: inline-block;
	padding: 13px;
	border: 2px solid rgb(232, 232, 22);
	border-radius: 25px;
	color: rgb(232, 232, 22);
	background: rgb(36, 35, 35);
}

.luck {
	font-size: 28px;

}

.all {
	color: #555;
	font-size: 28px;
}

.answer {
	width: 373px;
	height: 240px;
	text-align: center;
	border: 3px solid rgb(43, 42, 42);
	border-radius: 35px;
	color: yellow;
	background: rgb(36 35 35);
}

.window5 {
	width: 298px;
	height: 123px;
	display: inline-block;
	font-size: 16px;
	border: 3px solid rgb(43, 42, 42);
	border-radius: 25px;
	color: rgb(247, 247, 246);
	background: rgb(64, 63, 63);
}

h5 {
	font-size: 16px;
	color: rgb(213, 210, 210);
}

h2 {
	font-size: 33px;
}
