body {
	margin: 0;
	user-select: none;
	overflow: hidden;
}

.score {
	margin: 0;
	position: fixed;
	top: 0;
	left: 0;
	color: white;
}

.bg-white{
	margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
}